html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
}
.toolbar-main {
  background-color: #000000;
}
.product-label {
  font-weight: 800;
  margin-right: 20px;
}
.app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content-wrapper {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
.form-label {
  font-weight: bold;
  margin-bottom: 3px;
}
.path-cost-number {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #999;
  border-radius: 10px;
}
.path-item {
  cursor: pointer;
}
.path-item-text {
  padding: 0 10px;
}
.path-item:hover {
  background: #f8f8f8;
}
.breadcrumbs {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  padding-left: 10px;
  margin: 16px 0;
}
.breadcrumbs li.breadcrumb {
  line-height: 1.5em;
  display: inline-block;
  color: rgba(0, 0, 0, 0.54);
}
.breadcrumbs li.breadcrumb[role="button"] {
  color: #2196f3;
}
.breadcrumbs li.breadcrumb[role="button"]:hover {
  cursor: pointer;
  text-decoration: underline;
}
.breadcrumbs li.breadcrumb.separator {
  color: #d2d2d2;
}
.breadcrumbs li.breadcrumb.active {
  color: #888888;
}
/* Angular Material side panel tweaks */
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 304px !important;
  width: 85vw !important;
  max-width: 500px !important;
}
/* Angular Materia Data Table font size */
td.md-cell,
th.md-column {
  font-size: 16px !important;
}
