.node-badge-circle {
  fill: #00ce00;
  stroke: #00ce00;
  stroke-width: 12px;
  stroke-linejoin: round;
}
.node-badge-circle-inactive {
  fill: #ff0000;
  stroke: #ff0000;
}
.node-badge-text {
  font-family: "Cisco Sans Reg";
  fill: #ffffff;
  text-anchor: middle;
  dominant-baseline: central;
  font-size: 8px;
  font-weight: 800;
  pointer-events: none;
}
