html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}

.toolbar-main {
    background-color: #000000;
}

.product-label {
    font-weight: 800;
    margin-right: 20px;
}

.app-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.content-wrapper {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.form-label {
    font-weight: bold;
    margin-bottom: 3px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 304px !important;
    width: 85vw !important;
    max-width: 500px !important;
}