<section layout="column" class="h100" ng-controller="PathSetupCtrl">
	<md-sidenav class="md-sidenav-right md-whiteframe-z2 h100" md-component-id="right" md-is-locked-open="shared.sidePanel" >
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>
						<i class="fa fa-wrench" aria-hidden="true"></i>
						<span ng-show="shared.pathSetupUpdateData.mode == 'default'">
							Setup SR-path
						</span>
						<span ng-show="shared.pathSetupUpdateData.mode == 'update'">
							Modify SR-path
						</span>
					</span>
				</h2>
				<span flex></span>
				<md-button ng-click="closeSidePanel()" class="md-button">Close</md-button>
			</div>
		</md-toolbar>
		<md-content flex>

			<!-- Loading spinner -->
			<div ng-show="!shared.topologyInitd"  class="layout-padding" layout="row">
				<md-progress-circular md-mode="indeterminate"
									  md-diameter="20px">
				</md-progress-circular>
				Loading data...
			</div>

			<div ng-show="shared.topologyInitd">

				<!-- Deploy path -->
				<div flex
					 ng-show="shared.autoPathSetupMode == 'register-path'">

					<!-- Breadcrumbs -->
					<div layout="row">
						<ul class="breadcrumbs">
							<li class="breadcrumb" ng-click="backToSetup(shared.nxTopology)">Compute path</li>
							<li class="breadcrumb separator">/</li>
							<li class="breadcrumb active">Deploy path</li>
						</ul>
					</div>
					<md-divider></md-divider>
					<!-- / Breadcrumbs -->


					<!-- Successfully deployed path -->
					<div flex
						 class="layout-padding"
						 ng-show="shared.pathDeploymentResult == 'success'">

						<p>You have successfully deployed the path:</p>
						<p class="path-details">
							{{ pathSet.join(" &rarr; ") }}
						</p>
					</div>
					<!-- / Successfully deployed path -->

					<!-- Has not deployed path -->
					<div flex
						 class="layout-padding"
						 ng-show="shared.pathDeploymentResult == 'error'">

						<p>The path has been refused by controller and has not been deployed.</p>
						<p class="path-details">
							{{ pathSet.join(" &rarr; ") }}
						</p>
					</div>
					<!-- / Has not deployed path -->

					<!-- Successfully deployed path -->
					<div flex
						 ng-show="shared.pathDeploymentResult == 'inprogress'">

						<form name="registerPathForm" layout="column">
							<md-content class="layout-padding"
										layout="column">

								<div class="path-details">
									<b>Path details</b><br>
									{{ pathSet.join(" &rarr; ") }}
								</div>

								<md-input-container>

									<label>Path name</label>
									<input type="text"
										   name="pathName"
										   title="Path name"
										   ng-model="prForm.pathName"
										   ng-required
										   ng-disabled="shared.pathSetupUpdateData.mode === 'update'">
								</md-input-container>

								<md-button class = "md-primary md-raised"
										   ng-click = "deployPath(shared.nxTopology, pathSet)"
										   ng-disabled = "registerPathForm.$invalid">
									Deploy path
								</md-button>

							</md-content>
						</form>

					</div>
					<!-- / Successfully deployed path -->

				</div>
				<!-- / Deploy path -->

				<!-- Path computation view -->
				<md-tabs md-dynamic-height
						 md-border-bottom class="w100"
						 ng-show="shared.autoPathSetupMode == 'search'"
						 md-selected="selectedIndex"
						 flex>
					<md-tab label="Auto" md-on-select="onTabSelected('auto')">
						<md-content>
							<md-content class="layout-padding">
								<form name="autoPathForm">
									<md-content layout="column" flex>

										<md-input-container>
											<label>Source</label>
											<md-select ng-model="psForm.source"
													   ng-required="true"
													   name="source"
													   ng-disabled="shared.pathSetupUpdateData.mode === 'update'">
												<md-option ng-repeat="node in shared.topologyData.nodes | filter: nodeFilter.pcepEnabled" value="{{ node.name }}">
													{{ node.name }}
												</md-option>
											</md-select>
										</md-input-container>

										<md-input-container>
											<label>Destination</label>
											<md-select ng-model="psForm.destination"
													   ng-required="true"
													   name="destination"
													   ng-disabled="shared.pathSetupUpdateData.mode === 'update'">
												<md-option ng-repeat="node in shared.topologyData.nodes | filter: nodeFilter.srEnabled" value="{{ node.name }}">
													{{ node.name }}
												</md-option>
											</md-select>
										</md-input-container>

										<div class="form-label">Cost Metric</div>
										<md-radio-group ng-model="psForm.costMetric">
											<md-radio-button value="igp" class="md-primary">IGP</md-radio-button>
											<md-radio-button value="hops">Hops</md-radio-button>
											<md-radio-button value="te">TE</md-radio-button>
										</md-radio-group>

										<md-button class = "md-primary md-raised"
												   ng-click = "computePaths()"
												   ng-disabled = "isAutoPathFormInvalid() || autoPathFormLoadingStatus">

										<span ng-hide="autoPathFormLoadingStatus">
											Compute paths
										</span>
										<span ng-show="autoPathFormLoadingStatus">
											<i class="fa fa-circle-o-notch fa-spin fa-fw margin-bottom"
											   aria-hidden="true"></i>
											<span class="sr-only">Loading...</span>
										</span>
										</md-button>
									</md-content>
								</form>
							</md-content>

							<md-divider></md-divider>

							<div layout-fill layout="column">
								<md-list>
									<md-list-item ng-repeat="(index, pathSet) in computedPaths"
												  ng-mouseenter="highlightPath(shared.nxTopology, pathSet, 'pathListHover')"
												  ng-click="registerPath(shared.nxTopology, pathSet)"
												  layout="row">
										<div>
											<span class="path-cost-number">{{ computedMetrics[index] }}</span>
										</div>
										<div class="path-details">
											{{ pathSet.join(" &rarr; ") }}
										</div>
									</md-list-item>
								</md-list>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Manual" md-on-select="onTabSelected('manual')">
						<md-content ng-show="shared.pathSetupUpdateData.mode == 'default'">

							<section>
								<md-toolbar class="md-table-toolbar md-accent">
									<div class="md-toolbar-tools white-text">
										<h2>
											<span>Summary</span>
										</h2>
									</div>
								</md-toolbar>


								<div>
									<md-table-container>
										<table md-table>
											<tbody md-body>

											<tr md-row>
												<td md-cell>
													Hops:
												</td>
												<td md-cell>
													{{ manualPathMetrics.length }}
												</td>
											</tr>

											<tr md-row>
												<td md-cell>
													Total IGP cost:
												</td>
												<td md-cell>
													<span ng-show="manualPathMetricsTotal.hasOwnProperty('igp')">
														{{ manualPathMetricsTotal.igp }}
													</span>
													<span ng-show="!manualPathMetricsTotal.hasOwnProperty('igp')">
														0
													</span>
												</td>
											</tr>

											<tr md-row>
												<td md-cell>
													Total TE cost:
												</td>
												<td md-cell>
													<span ng-show="manualPathMetricsTotal.hasOwnProperty('te')">
														{{ manualPathMetricsTotal.te }}
													</span>
													<span ng-show="!manualPathMetricsTotal.hasOwnProperty('te')">
														0
													</span>
												</td>
											</tr>

											</tbody>
										</table>
									</md-table-container>
								</div>
							</section>

							<section>
								<md-toolbar class="md-table-toolbar md-accent">
									<div class="md-toolbar-tools white-text">
										<h2>
											<span>Manual path</span>
										</h2>
									</div>
								</md-toolbar>

								<div ng-show="manualPath.length">

									<div>
										<md-button class="md-warn" ng-click="clearCurrentPath(shared.nxTopology)">
											<i class="fa fa-times" aria-hidden="true"></i>
											Clear
										</md-button>
										<md-button class="md-primary" ng-click="registerPath(
											shared.nxTopology,
											getNodeNamesOnly(manualPath))">
											<i class="fa fa-rocket" aria-hidden="true"></i>
											Deploy
										</md-button>
									</div>

									<md-table-container>
										<table md-table>

											<thead md-head>
											<tr md-row>
												<th md-column><span>#</span></th>
												<th md-column><span>Source</span></th>
												<th md-column><span>Destination</span></th>
												<th md-column>IGP</th>
												<th md-column>TE</th>
											</tr>
											</thead>

											<tbody md-body>
											<tr md-row ng-repeat="(index, router) in manualPath">
												<!-- Index -->
												<td md-cell>{{ $index + 1 }}</td>
												<!-- Source -->
												<td md-cell>{{ router.name }}</td>
												<!-- Destination -->
												<td md-cell>
													<div ng-show="manualPath[index+1]">
														{{ manualPath[index+1].name }}
													</div>
													<div ng-hide="manualPath[index+1]">
														<i>Click to pick</i>
													</div>
												</td>
												<!-- IGP cost -->
												<td md-cell>
													<div ng-show="manualPath[index+1]">
														{{ manualPathMetrics[index].metric.igp[manualPathMetrics[index].type] }}
													</div>
													<div ng-hide="manualPath[index+1]">
														N/A
													</div>
												</td>
												<!-- TE cost -->
												<td md-cell>
													<div ng-show="manualPath[index+1]">
														{{ manualPathMetrics[index].metric.te[manualPathMetrics[index].type] }}
													</div>
													<div ng-hide="manualPath[index+1]">
														N/A
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</md-table-container>
								</div>
							</section>

							<div ng-hide="manualPath.length" layout-padding>
								<p>
									Your path is not set at this point. Select a source on the topology: just click a node once.
									If you suddenly hit a wrong router, just click once more and the one will be removed from path.
								</p>
								<p>
									Please note: only a PCEP-capable router can be a source, and only SR-capable ones can carry traffic from it.
									Prohibited routers are disabled to click and are marked with red badges over their icons.
									However, they will still be visible to you.
								</p>
							</div>

						</md-content>
						<md-content ng-show="shared.pathSetupUpdateData.mode == 'update'" layout-padding>
							Manual path setup is unavailable in "Update" mode.
						</md-content>
					</md-tab>
				</md-tabs>
			</div>


		</md-content>
	</md-sidenav>
</section>