<section layout="column" class="h100" ng-controller="PathSetupCtrl">
	<md-sidenav class="md-sidenav-right md-whiteframe-z2 h100" md-component-id="right" md-is-locked-open="shared.sidePanel" >
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>
						<i class="fa fa-wrench" aria-hidden="true"></i>
						Setup SR-path
					</span>
				</h2>
				<span flex></span>
				<md-button ng-click="closeSidePanel()" class="md-button">Close</md-button>
			</div>
		</md-toolbar>
		<md-content flex>

			<!-- Loading spinner -->
			<div ng-show="!shared.topologyInitd"  class="layout-padding" layout="row">
				<md-progress-circular md-mode="indeterminate"
									  md-diameter="20px">

				</md-progress-circular>
				Loading data...
			</div>

			<div ng-show="shared.topologyInitd">

				<!-- Deploy path -->
				<div flex
					 ng-show="shared.pathSetupMode == 'register-path'">


					<!-- Breadcrumbs -->
					<div layout="row">
						<ul class="breadcrumbs">
							<li class="breadcrumb" ng-click="backToSetup(shared.nxTopology)">Compute path</li>
							<li class="breadcrumb separator">/</li>
							<li class="breadcrumb active">Deploy path</li>
						</ul>
					</div>
					<md-divider></md-divider>
					<!-- / Breadcrumbs -->


					<!-- Successfully deployed path -->
					<div flex
						 class="layout-padding"
						 ng-show="shared.pathDeploymentResult == 'success'">

						<p>You have successfully deployed the path:</p>
						<p class="path-details">
							{{ pathSet.join(" &rarr; ") }}
						</p>
					</div>
					<!-- / Successfully deployed path -->

					<!-- Has not deployed path -->
					<div flex
						 class="layout-padding"
						 ng-show="shared.pathDeploymentResult == 'error'">

						<p>The path has been refused by controller and has not been deployed.</p>
						<p class="path-details">
							{{ pathSet.join(" &rarr; ") }}
						</p>
					</div>
					<!-- / Has not deployed path -->

					<!-- Successfully deployed path -->
					<div flex
						 ng-show="shared.pathDeploymentResult == 'inprogress'">

						<form name="registerPathForm" layout="column">
							<md-content class="layout-padding"
										layout="column">

								<div class="path-details">
									<b>Path details</b><br>
									{{ pathSet.join(" &rarr; ") }}
								</div>

								<md-input-container>

									<label>Path name</label>
									<input type="text"
										   name="pathName"
										   title="Path name"
										   ng-model="prForm.pathName"
										   ng-required>
								</md-input-container>

								<md-button class = "md-primary md-raised"
										   ng-click = "deployPath(shared.nxTopology, pathSet)"
										   ng-disabled = "registerPathForm.$invalid">
									Deploy path
								</md-button>

							</md-content>
						</form>

					</div>
					<!-- / Successfully deployed path -->

				</div>
				<!-- / Deploy path -->

				<!-- Path computing view -->
				<md-tabs md-dynamic-height
						 md-border-bottom class="w100"
						 ng-show="shared.pathSetupMode == 'search'"
						 flex>
					<md-tab label="Auto">
						<md-content>
							<md-content class="layout-padding">
								<form name="autoPathForm">
									<md-content layout="column" flex>

										<md-input-container>
											<label>Source</label>
											<md-select ng-model="psForm.source"
													   ng-required="true"
													   name="source">
												<md-option ng-repeat="node in shared.topologyData.nodes" value="{{node.name}}">
													{{ node.name }}
												</md-option>
											</md-select>
										</md-input-container>

										<md-input-container>
											<label>Destination</label>
											<md-select ng-model="psForm.destination"
													   ng-required="true"
													   name="destination">
												<md-option ng-repeat="node in shared.topologyData.nodes" value="{{node.name}}">
													{{ node.name }}
												</md-option>
											</md-select>
										</md-input-container>

										<div class="form-label">Cost Metric</div>
										<md-radio-group ng-model="psForm.costMetric">
											<md-radio-button value="igp" class="md-primary">IGP</md-radio-button>
											<md-radio-button value="hops">Hops</md-radio-button>
										</md-radio-group>

										<md-button class = "md-primary md-raised"
												   ng-click = "computePaths()"
												   ng-disabled = "isAutoPathFormInvalid() || autoPathFormLoadingStatus">

										<span ng-hide="autoPathFormLoadingStatus">
											GO
										</span>
										<span ng-show="autoPathFormLoadingStatus">
											<i class="fa fa-circle-o-notch fa-spin fa-fw margin-bottom"
											   aria-hidden="true"></i>
											<span class="sr-only">Loading...</span>
										</span>
										</md-button>
									</md-content>
								</form>
							</md-content>

							<md-divider></md-divider>

							<div layout-fill layout="column">
								<md-list>
									<md-list-item ng-repeat="(index, pathSet) in computedPaths"
												  ng-mouseenter="highlightPath(shared.nxTopology, pathSet, 'pathListHover')"
												  ng-click="registerPath(shared.nxTopology, pathSet)"
												  layout="row">
										<div>
											<span class="path-cost-number">{{ computedMetrics[index] }}</span>
										</div>
										<div class="path-details">
											{{ pathSet.join(" &rarr; ") }}
										</div>
									</md-list-item>
								</md-list>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Manual">
						<md-content>

						</md-content>
					</md-tab>
				</md-tabs>
			</div>


		</md-content>
	</md-sidenav>
</section>