<section layout="column" class="h100" ng-controller="PathListCtrl">
	<md-sidenav class="md-sidenav-right md-whiteframe-z2 h100" md-component-id="right" md-is-locked-open="sidePanel" >
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>Path List</span>
				</h2>
				<span flex></span>
				<md-button ng-click="closeSidePanel()" class="md-button">Close</md-button>
			</div>
		</md-toolbar>
		<md-content flex>

			<div layout-fill layout="column">

				<md-list layout-fill ng-show="pathListData.length">
					<md-list-item class="md-2-line" ng-repeat="path in pathListData"
								  layout="row">
						<div class="md-list-item-text" flex>
							<h3>hey</h3>
							<p>node data</p>
						</div>
					</md-list-item>
				</md-list>

				<div class="layout-padding" ng-hide="pathListData.length" layout="row">
					No paths found.
				</div>

			</div>
		</md-content>
	</md-sidenav>
</section>