<section layout="column" class="h100" ng-controller="PathListCtrl">
	<md-sidenav class="md-sidenav-right md-whiteframe-z2 h100" md-component-id="right" md-is-locked-open="shared.sidePanel" >
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>
						<i class="fa fa-list"></i>
						Deployed Paths
					</span>
				</h2>
				<span flex></span>
				<md-button ng-click="closeSidePanel()" class="md-button">Close</md-button>
			</div>
		</md-toolbar>
		<md-content flex>

			<div layout-fill layout="column">
				<md-list ng-show="shared.pathListData.length">
					<md-list-item class="md-2-line path-item"
								  ng-repeat="path in shared.pathListData"
								  ng-mouseover="highlightPath(shared.nxTopology, path.path, 'pathListHover')"
								  layout="row">
						<div class="md-list-item-text" flex>
							<h3>{{ path.name }}</h3>
							<p>{{ path.path.join(" &rarr; ") }}</p>
						</div>
					</md-list-item>
				</md-list>

				<div class="layout-padding" ng-hide="shared.pathListData.length" layout="row">
					<div ng-show="!shared.pathListInitd" layout="row">
						<md-progress-circular md-mode="indeterminate" md-diameter="20px"></md-progress-circular> Loading path data
					</div>
					<div ng-show="shared.pathListInitd">
						No paths found.
					</div>
				</div>

			</div>
		</md-content>
	</md-sidenav>
</section>