<section layout="column" class="h100" ng-controller="LinkListCtrl">
	<md-sidenav class="md-sidenav-right md-whiteframe-z2 h100" md-component-id="right" md-is-locked-open="shared.sidePanel" >
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>
						<i class="fa fa-link"></i>
						Links
					</span>
				</h2>
				<span flex></span>
				<md-button ng-click="closeSidePanel()" class="md-button">Close</md-button>
			</div>
		</md-toolbar>
		<md-content flex  id="link-list-area">

			<div layout-fill layout="column">

				<section ng-show="shared.topologyData.links.length">
					<div class="search-dock"></div>
					<div class="search">
						<div layout="row">
							<md-icon class="material-icons ng-isolate-scope">search</md-icon>
							<div class="search-input-container" flex>
								<input type="search" placeholder="Search for link" ng-model="linkSearchQuery" />
							</div>
						</div>
					</div>
					<div class="search-dock-placeholder"></div>

					<md-list flex>
						<md-list-item
							ng-click="null"
							class="md-2-line"
							ng-repeat="link in filteredLinks = (shared.topologyData.links | filter:linkSearchQuery)">
							<div class="md-list-item-text pointer noselect"
								 ng-click="shared.openPanel('link-details', {'linkData': link})"
								 flex>
								<h3>{{ link.source }} &harr; {{ link.target }}</h3>
								<p>
									IGP: {{ link.metric.igp.tx }} / {{ link.metric.igp.rx }}, TE: {{ link.metric.te.tx }} / {{ link.metric.te.rx }}
								</p>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>

					<div class="layout-padding"
						 ng-hide="filteredLinks.length">
						No links match your query.
					</div>
				</section>

				<div class="layout-padding" ng-hide="shared.topologyData.links.length" layout="row">
					<div ng-show="!shared.topologyDataInitd" layout="row">
						<md-progress-circular md-mode="indeterminate" md-diameter="20px"></md-progress-circular> Loading topology data
					</div>
					<div ng-show="shared.topologyDataInitd">
						No links found.
					</div>
				</div>

			</div>
		</md-content>
	</md-sidenav>
</section>