<!DOCTYPE html>
<html lang="en" ng-app="pathmanApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="media/img/favicon.ico" type="image/vnd.microsoft.icon">
        <title>Pathman Segment Routing</title>

		<!-- Link AngularJS and modules -->
		<script type="text/javascript" src="../vendor/angular/angular.min.js"></script>
		<script type="text/javascript" src="../vendor/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="../vendor/angular-messages/angular-messages.min.js"></script>
		<script type="text/javascript" src="../vendor/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="../vendor/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="../vendor/angular-material-data-table/dist/md-data-table.min.js"></script>
		<link rel="stylesheet" href="../vendor/angular-material/angular-material.min.css">
		<link rel="stylesheet" href="../vendor/angular-material-data-table/dist/md-data-table.min.css">
		<!-- / Link AngularJS and modules -->

		<!-- Link NeXt library -->
		<script type="text/javascript" src="../vendor/NeXt/js/next.js"></script>
		<link rel="stylesheet" type="text/css" href="../vendor/NeXt/css/next.min.css">
		<!-- / Link NeXt library -->

		<script type="text/javascript" src="../vendor/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../vendor/lodash/dist/lodash.min.js"></script>
		<script type="text/javascript" src="../vendor/restangular/dist/restangular.min.js"></script>

		<!-- styles -->
		<link rel="stylesheet" type="text/css" href="../assets/css/helpers.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/next-extensions.css">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../vendor/font-awesome/css/font-awesome.min.css">

    </head>
    <body ng-controller="PathmanAppCtrl">


	<div layout="row" class="h100 app-wrapper" flex>

		<section layout="column" class="h100" flex>
			<md-toolbar class="toolbar-main">
				<div class="md-toolbar-tools toolbar-main">
					<span class="product-label">
						Pathman SR
					</span>
					<md-button ng-click="openPanel('path-setup')">
						<i class="fa fa-wrench"></i>
						Path setup
					</md-button>
					<md-button ng-click="openPanel('path-list')">
						<i class="fa fa-list"></i>
						Path List
					</md-button>
					<md-button>
						<i class="fa fa-info-circle"></i>
						Help
					</md-button>
					<span flex></span>
				</div>
			</md-toolbar>

			<div class="content-wrapper">
				<md-progress-linear ng-if="!shared.topologyInitd" md-mode="indeterminate"></md-progress-linear>
				<div class="w100 h100">
					<div id="topology-container" class="h100"></div>
				</div>
			</div>
		</section>

		<section layout="column"
				 class="h100"
				 ng-show="shared.sidePanel"
				 ng-controller="SidePanelCtrl">
			<div class="h100" ng-show="shared.sidePanelName == 'path-list'" ng-include=" 'app/templates/path-list-panel.tpl.html' "></div>
			<div class="h100" ng-show="shared.sidePanelName == 'path-setup'" ng-include=" 'app/templates/path-setup-panel.tpl.html' "></div>
			<div class="h100" ng-show="shared.sidePanelName == 'path-details'" ng-include=" 'app/templates/path-details-panel.tpl.html' "></div>
		</section>
	</div>

	<script type="text/javascript" src="app/modules/pathman.module.js"></script>

	<script type="text/javascript" src="app/services/shared-data.service.js"></script>

	<script type="text/javascript" src="app/services/helpers.service.js"></script>
	<script type="text/javascript" src="app/services/network.service.js"></script>
	<script type="text/javascript" src="app/services/pathlist.service.js"></script>
	<script type="text/javascript" src="app/services/next-topology.service.js"></script>
	<script type="text/javascript" src="app/services/network.service.js"></script>

	<script type="text/javascript" src="app/controllers/sidepanel.controller.js"></script>
	<script type="text/javascript" src="app/controllers/path-details.controller.js"></script>
	<script type="text/javascript" src="app/controllers/path-list.controller.js"></script>
	<script type="text/javascript" src="app/controllers/path-setup.controller.js"></script>
	<script type="text/javascript" src="app/controllers/pathman.controller.js"></script>

    </body>
</html>
